<div class="col-md-12 col-sm-12" style="padding-bottom:10px">
    <div class="row">
        <div class="col-md-12 col-sm-12"><span class="bold">Temperature</span></div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12" ng-if="$ctrl.forPerson">
            <small class="bold" ng-class="{'abnormal' : $ctrl.vitalsign.temperature.category != '0' }">{{$ctrl.vitalsign.temperature.values[0].value ? $ctrl.vitalsign.temperature.values[0].value : '-'}} <span ng-if="$ctrl.vitalsign.temperature.values[0].value">&#8451;</span></small>&nbsp;
            <small ng-if="$ctrl.vitalsign.temperature.delta == '1' && !$ctrl.vitalsign.temperature.normalChange"><i class="fa fa-arrow-up" aria-hidden="true" ng-class="{'abnormal' : !$ctrl.vitalsign.temperature.abruptChange }"></i></small>
            <small ng-if="$ctrl.vitalsign.temperature.delta == '-1' && !$ctrl.vitalsign.temperature.normalChange"><i class="fa fa-arrow-down" aria-hidden="true" ng-class="{'abnormal' : !$ctrl.vitalsign.temperature.abruptChange }"></i></small>
        </div>
        <div class="col-md-12 col-sm-12" ng-if="!$ctrl.forPerson">
            <small class="bold" ng-class="{'abnormal' : $ctrl.vitalsign.temperature.category != '0' }">{{$ctrl.vitalsign.temperature.values[0].value ? $ctrl.vitalsign.temperature.values[0].value : '-'}} <span ng-if="$ctrl.vitalsign.temperature.values[0].value">&#8451;</span></small>&nbsp;
        </div>
    </div>
    <div class="row">
        @*<div class="col-md-12 col-sm-12" ng-if="$ctrl.forPerson"><small>{{$ctrl.vitalsign.temperature.values[0].takenOn | dateTimeFormat}}</small></div>
        <div class="col-md-12 col-sm-12" ng-if="!$ctrl.forPerson"><small>{{$ctrl.vitalsign.temperature[0] ? ($ctrl.vitalsign.temperature[0].takenOn | dateTimeFormat) : '-'}}</small></div>*@
        <div class="col-md-12 col-sm-12"><small>{{$ctrl.vitalsign.temperature.values[0].takenOn | dateTimeFormat}}</small></div>
    </div>
</div>