@using Abp.Timing
@using Pulsesync.IngoTPCC.Authorization

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding main-tab-contents">
        <document-card module="'Referral'" mode="vm.mode" record-id="vm.model.id" person-id="vm.model.personId" upload="true" delete="true"></document-card>
    </div>
</div>