@using Pulsesync.IngoTPCC.Authorization
<div id="Profile">
    <div class="col-md-12 col-sm-12 col-xs-12 no-padding" ng-controller="tenant.views.person.tabs.attachmentTab as attachmentTab">
        <document-card module="'Person'" mode="vm.isNew ? 'new' : 'view'" record-id="vm.person.id" person-id="vm.person.id" upload="true" delete="true"></document-card>
    </div>
</div>